body {
  background-color: #89a4ba;

  .bodyHome {
    background-image: url("/resource/background_img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      display: flex;
      border: 1px solid;
      border-radius: 5px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

      input[type="search"] {
        padding: 8px;
        font-size: 18px;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
        outline: none;
      }
      #buttonSearch {
        padding: 8px 12px;
        background-color: #89a4ba;
        color: white;
        border: none;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
      }
      button:hover {
        background-color: #0b7dda;
      }
    }
  }
  .divBook {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .liClass {
        margin-left: 20px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        background-image: url("/resource/open-book.png");
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: center;
        padding-left: 90px;
        border-bottom: solid black 2px;
      }
    }
  }
}
